{% extends "layout.html" %} 

{% block mainContent %}
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{ data.title }}</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">
                    Posted on {{ data.created_at|date:"F j, Y" }} by Start Bootstrap
                </div>
                <!-- Post categories-->
                <a
                    class="badge bg-secondary text-decoration-none link-light"
                    href="#!"
                    >Web Design</a
                >
                <a
                    class="badge bg-secondary text-decoration-none link-light"
                    href="#!"
                    >Freebies</a
                >
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4">
                {% if data.thumbnail %}
                        <img
                            class="img-fluid rounded"
                            src="{{ data.thumbnail.url }}"
                            alt="{{ data.title }}"
                            style="width: 900px; height: 400px; object-fit: cover;"
                        />
                {% else %}
                    <img
                        class="img-fluid rounded"
                        src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
                        alt="..."
                    />
                {% endif %}
                </figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">
                        {{ data.content }}
                    </p>
                </section>
            </article>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                <div class="input-group">
                    <input
                    class="form-control"
                    type="text"
                    placeholder="Enter search term..."
                    aria-label="Enter search term..."
                    aria-describedby="button-search"
                    />
                    <button class="btn btn-primary" id="button-search" type="button">
                    Go!
                    </button>
                </div>
                </div>
            </div>
            <!-- Tags widget-->
            <div class="card mb-4">
                <div class="card-header">Tags</div>
                <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                    <ul class="list-unstyled mb-0 d-flex flex-wrap gap-2">
                        {% for tag in post_tag %}
                            <li><a href="#" class="badge bg-secondary text-decoration-none">{{ tag.name }}</a></li>
                        {% empty %}
                            <li>No tags available.</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock mainContent %}
